<apex:page standardcontroller="Employee__c" showHeader="false" sidebar="false">

<!--
<analytics:reportChart reportId="00O24000000ircJ" size="small" showRefreshButton="false"></analytics:reportChart>
<analytics:reportChart reportid="00O24000000j62j" size="small" showRefreshButton="false"></analytics:reportChart>
<analytics:reportChart reportid="00O24000000jFMk" size="small" showRefreshButton="false"></analytics:reportChart>
-->

<apex:pageBlock >

    <apex:pageBlockSection columns="4">
    
        <analytics:reportChart reportId="00O24000000ircJ" size="tiny" showRefreshButton="false" cacheResults="false"></analytics:reportChart>
        <analytics:reportChart reportid="00O24000000j62j" size="tiny" showRefreshButton="false" cacheResults="false"></analytics:reportChart>
        <analytics:reportChart reportid="00O24000000jFMk" size="tiny" showRefreshButton="false" cacheResults="false"></analytics:reportChart>
    
    </apex:pageBlockSection>

</apex:pageBlock>



<!--  clickjack protection!!
<apex:iframe src="/00O24000000ircJ"/>
<apex:iframe src="/00O24000000j62j"/>
<apex:iframe src="/00O24000000jFMk"/>
-->

</apex:page>