<apex:page tabStyle="In_gage_Custom_Settings__tab" controller="ingageCustomSettingController">
    <apex:form id="pForm">
        <apex:pageBlock title="Employee Page View Mapping">
            <apex:pageBlockSection >
                    <apex:selectRadio value="{!roleOrProfile}" label="What do you prefer for mapping?" >
                        <apex:selectOption itemValue="Profiles" itemlabel="Profiles"/>
                        <apex:selectOption itemValue="Roles" itemlabel="Roles"/>
                        <apex:actionSupport event="onchange" reRender="pForm"/>
                    </apex:selectRadio>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Your Roles to Map" rendered="{!IF(roleOrProfile == 'Roles', true, false)}">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!saveProfileMapping}" />
                <apex:commandButton value="Back" action="{!settingPage}" />
            </apex:pageBlockButtons>
            <apex:pageMessages id="showmsg"></apex:pageMessages>
            <apex:pageBlockSection collapsible="false">
                <apex:SelectList value="{!aProfiles}" multiselect="true" label="Agent Employee View">
                    <apex:SelectOptions value="{!roleOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!mProfiles}" multiselect="true" label="Manager Employee View">
                    <apex:SelectOptions value="{!roleOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!smProfiles}" multiselect="true" label="Senior Manager Employee View">
                    <apex:SelectOptions value="{!roleOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!qaProfiles}" multiselect="true" label="Quality Agent Employee View">
                    <apex:SelectOptions value="{!roleOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!qaMgrProfiles}" multiselect="true" label="Quality Manager Employee View">
                    <apex:SelectOptions value="{!roleOptions}"/>
                </apex:selectList>
            </apex:pageBlockSection>
        </apex:pageBlock>
        <apex:pageBlock title="Your Profiles to Map" rendered="{!IF(roleOrProfile == 'Profiles', true, false)}">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!saveProfileMapping}" />
                <apex:commandButton value="Back" action="{!settingPage}" />
            </apex:pageBlockButtons>
            <apex:pageMessages id="showmsg"></apex:pageMessages>
            <apex:pageBlockSection collapsible="false">
                <apex:SelectList value="{!aProfiles}" multiselect="true" label="Agent Employee View">
                    <apex:SelectOptions value="{!profileOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!mProfiles}" multiselect="true" label="Manager Employee View">
                    <apex:SelectOptions value="{!profileOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!smProfiles}" multiselect="true" label="Senior Manager Employee View">
                    <apex:SelectOptions value="{!profileOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!qaProfiles}" multiselect="true" label="Quality Agent Employee View">
                    <apex:SelectOptions value="{!profileOptions}"/>
                </apex:selectList>
                <apex:SelectList value="{!qaMgrProfiles}" multiselect="true" label="Quality Manager Employee View">
                    <apex:SelectOptions value="{!profileOptions}"/>
                </apex:selectList>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>