<apex:page standardcontroller="Survey__c" extensions="ViewSurveyController" cache="false" sidebar="false" showheader="false" standardStylesheets="false" docType="html-5.0">
    <!-- Bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="{!URLFOR($Resource.InGage_Resources, '/sites/jquery-1.12.3.min.js')}"></script>
    <link rel="stylesheet" href="{!URLFOR($Resource.InGage_Resources, '/sites/bootstrap-3.3.6-dist/css/bootstrap.min.css')}"/>
        <link rel="stylesheet" href="{!URLFOR($Resource.InGage_Resources, '/sites/bootstrap-3.3.6-dist/css/bootstrap-theme.min.css')}"/>
            <script src="{!URLFOR($Resource.InGage_Resources, '/sites/bootstrap-3.3.6-dist/js/bootstrap.min.js')}"></script>
    
    <!-- <link rel="stylesheet" href="{!URLFOR($Resource.InGage_Resources, '/sites/stylesheet.css')}"/> -->
    <style>
        input[type=radio] {
        margin-left: 25px;
        margin-right: 10px;
        margin-bottom: 20px;
        }
        @media(max-width: 768px) {
            input[type=radio] {
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 10px;
            }
            #radioButton td label{
            display: block;
            }
        }
        
        .rowRadioBtns{
        width: auto;
        margin: auto;
        border: 0px;
        }
        
        .wrapper {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        }
        
        .question {
        display: block;
        vertical-align: middle;
        text-align: center;
        font-family: helvetica;
        }
        
        .buttonStyle{
        background-color: black;
        margin-top: 30px;
        width: 150px;
        font-size: 18px;
        font-weight: bold;
        color: white;
        }
        
        #theQuestion{
        font-size: 24px;
        text-align: center;
        }
        #radioButton table label{
        	display: inline;
        }
        #radioButton .selectradiobutton table, #radioButton .selectradiobutton tbody{
            display: block;
        }
        #radioButton .selectradiobutton tr, #radioButton .selectradiobutton td{
            display: inline-block;
        }
        /*#radioButton .selectcheckbox table{
            margin-left: auto;
        	margin-right: auto;
        }
        */
        #radioButton table tr td{
            text-align: left;
        }
    </style>
    
    <apex:outputPanel id="pageWrapper" styleclass="wrapper" style="background-image:url({!backgroundURL});">
        
        <apex:outputPanel id="questionPanel" styleclass="questionPanelContainer question">    
            <div class="container questionPanel">
                <div class="row" >
                    <apex:form >
                        
                        <apex:outputPanel rendered="{!thankYouRendered == false}">
                            
                            <div class="form-group" id="theQuestion">
                                <apex:repeat value="{!theQuestion.questionList}" var="qLine">
                                    <apex:outputText value="{!qLine}" /><br />
                                </apex:repeat>
                                &nbsp;
                            </div>
                            
                            <div class="form-group">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <apex:commandButton id="lhsNavBtn" action="{!lastQuestion}" image="{!URLFOR($Resource.InGage_Resources, '/sites/images/LeftArrow.png')}" rendered="{!leftButtonVisible}"/>
                                        </div>
                                        
                                        <div class="col-xs-8">
                                            <div class="container-fluid">
                                                <div id="radioButton" class="row">
                                                    <div class="selectradiobutton">
														<apex:selectRadio styleClass="rowRadioBtns" value="{!theQuestion.selectedOption}" rendered="{!theQuestion.renderSelectRow}" required="{!theQuestion.required}"  >
															<apex:selectOptions value="{!theQuestion.rowOptions}"/>
														</apex:selectRadio>
                                                    </div>
													<apex:selectRadio styleClass="rowRadioBtns" style="text-align:left;" layout="pageDirection" rendered="{!theQuestion.renderSelectRadio}" value="{!theQuestion.selectedOption}" required="{!theQuestion.required}" >
														<apex:selectOptions value="{!theQuestion.singleOptions}"/>
														<apex:actionSupport event="onchange" action="{!checkIfAdditionalQuestion}"/>
													</apex:selectRadio>
													<apex:selectCheckboxes styleClass="rowRadioBtns" layout="pageDirection" rendered="{!theQuestion.renderSelectCheckboxes}" value="{!theQuestion.selectedOptions}" required="{!theQuestion.required}" >
														<apex:selectOptions value="{!theQuestion.multiOptions}"/>
													</apex:selectCheckboxes>
                                                    <apex:inputTextArea rows="5" rendered="{!theQuestion.renderFreeText}" value="{!theQuestion.choices}" required="{!theQuestion.required}" style="width: 100%;font-size: 18px;"/>
                                                </div>
                                                <div class="row" style="text-align: center; font-size: 18px;">                
                                                    {!theQuestion.guidance}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <apex:commandButton id="rhsNavBtn" action="{!nextQuestion}" image="{!URLFOR($Resource.InGage_Resources, '/sites/images/RightArrow.png')}" rendered="{!rightButtonVisible}"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="text-align: center;">
                                <apex:commandButton action="{!submitResults}" value="{!submitButtonLabel}" rerender="questionPanel"  styleClass="buttonStyle" style="width:auto;" onclick="buttonClicked();" rendered="{!NOT(rightButtonVisible)}" oncomplete="setBlockPositionCenter();"/>
                            </div>
                        </apex:outputPanel>
                        
                        <apex:outputPanel id="answered" rendered="{!thankYouRendered == true}">
                            <div class="form-group">
                                <apex:outputText value="{!surveyThankYouText}"  escape="false" style="font-size: 24px;" />
                            </div>
                        </apex:outputPanel>
                    </apex:form>
                </div>
            </div>
        </apex:outputPanel>
    </apex:outputPanel>
    <script>
    
    $(window).on("orientationchange",function(){
        setBlockPositionCenter();
    });
    $(window).resize(function(){
        setBlockPositionCenter();
    });
    
    function setBlockPositionCenter(){
        var windowHeight = window.innerHeight;
        document.body.style.height = windowHeight + "px";
        var questionPanel = document.querySelector(".questionPanel");
        var remainingHeight = windowHeight - questionPanel.offsetHeight;
        document.querySelector(".questionPanelContainer").style.padding = (remainingHeight /2) + 'px' + ' 0px ' + (remainingHeight /2) + 'px' + ' 0px ';
        return windowHeight;
    }
    setBlockPositionCenter();
    
    function DisableAllButtons () {
        var inputs = document.getElementsByTagName("input");
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].disabled = true;
        }
    }
    function buttonClicked () {
        try {
            DisableAllButtons ();
        } catch(err) { }
    }
    
    </script>
    
</apex:page>