<apex:page standardController="QA_AI_Feedback__c" extensions="QAFeedbackController">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <apex:form >
    <apex:pageBlock title="Accounts" id="pb">
      <apex:pageMessages />
      <apex:pageBlockSection >
                <apex:pageblockSectionItem rendered="{!forCategory}"><apex:outputText value="Case Description/Email Text"/><apex:outputText value="{!qaText}" rendered="{!forCategory}"/></apex:pageblockSectionItem>
                <apex:pageblockSectionItem rendered="{!NOT(forCategory)}"><apex:outputText value="Email Text" rendered="{!NOT(forCategory)}"/><apex:outputText value="{!qaText}" rendered="{!NOT(forCategory)}"/></apex:pageblockSectionItem>
      </apex:pageBlockSection>
      <apex:pageBlockSection >
		<apex:pageblockSectionItem rendered="{!forCategory}">
        	<apex:outputLabel value="Category"/>
            <apex:selectList value="{!qaCategory}" size="1" label="Category">
            	<apex:SelectOptions value="{!qaCategories}"/>
                	<apex:actionSupport event="onchange" reRender="sCategories" action="{!updateSubCategory}"/>
            </apex:selectList>
        </apex:pageblockSectionItem>
       	<apex:pageblockSectionItem rendered="{!forCategory}">
        	<apex:outputLabel value="Sub Category"/>
            	<apex:selectList value="{!qaFB.Sub_Category__c}" size="1" label="Sub Category" id="sCategories">
                    <apex:SelectOptions value="{!qaSubCategories}"/>
                </apex:selectList>
       </apex:pageblockSectionItem>
      </apex:pageBlockSection>
      <apex:variable var="rowNumber" value="{!0}"/>
        <apex:pageBlockTable id="thetable" title="Contacts" var="qaFB" value="{!qaFBList}" rendered="{!qaSEAIEnabled}">
          <apex:column headerValue="No." style="width:20px; text-align:center;" headerClass="centertext">
            <apex:outputText value="{0}" style="text-align:center;">
              <apex:param value="{!rowNumber+1}" />
            </apex:outputText>
          </apex:column>
          <apex:column headerValue="Training Text" >
            <apex:inputField value="{!qaFB.Text_for_Training__c }"/>
          </apex:column>
            <apex:column headerValue="Sentiment" rendered="{!qaSEAIEnabled}">
                <apex:inputField value="{!qaFB.Sentiment__c}"/>
            </apex:column>
            <apex:column headerValue="Emotion" rendered="{!qaSEAIEnabled}">
                <apex:inputField value="{!qaFB.Emotion__c}"/>
            </apex:column>
           <apex:column headerValue="Action" >
            <apex:commandButton disabled="{!canEdit}" value="Delete" action="{!deleteRow}" reRender="pb">
              <apex:param name="rowIndex" value="{!rowNumber}"/>
            </apex:commandButton>
            <apex:variable var="rowNumber" value="{!rowNumber+1}"/>
          </apex:column>
        </apex:pageBlockTable>
      <apex:commandButton disabled="{!canEdit}" action="{!addRow}" value="Add More" reRender="pb" rendered="{!qaSEAIEnabled}"/>      
      <apex:pageBlockButtons >
        <apex:commandButton disabled="{!canEdit}" value="Save" action="{!save}" reRender="pb"/>
        <apex:commandButton disabled="{!canEdit}" value="Cancel" action="{!cancel}"/>
        <apex:commandButton value="Back" action="{!cancel}" rendered="{!canEdit}"/>
      </apex:pageBlockButtons>           
    </apex:pageBlock>
  </apex:form>
</apex:page>