<apex:page standardController="QA_AI__c" extensions="QualityAIController">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style type="text/css">
        .TFtableCol{
            width:100%; 
            border-collapse: separate;
        }
        .TFtableCol td{ 
            padding:7px; border:#4e95f4 2px solid;text-align:center;font-size:15px;
        }
        .vNeg{
            background: #ff3333;
        }
        .neg{
                background: #FF8C00;
            }
        .pos{
                background: #4286f4;
            }
        .vPos{
                background: #3CB371;
            }  
	</style>
    <script type="text/javascript">
        function toggleAEmotions(id) {
        var ctop3Emo = document.getElementById('atop3'+ id);
        var showCEmo = document.getElementById(id);
        if(ctop3Emo.style.display == 'block'){
            ctop3Emo.style.display = 'none';
            showCEmo.innerHTML = "Show More";
        }
        else{
            ctop3Emo.style.display = 'block';
            showCEmo.innerHTML = "Show Less";
        }
        
    } 
    </script>
  <apex:form >
    <apex:sectionHeader title="{!IF(QA_AI__c.Id!=null,QA_AI__c.Name,'New QA AI')}" />
    <apex:pageBlock >
      <apex:pageMessages />
        <apex:pageBlockSection collapsible="true" title="Sentiment & Emotions - Sentence Level" columns="1" rendered="{!OR(qaSEAIEnabled || qaAIEnabled)}">
              <div>
                <table class="TFtableCol">
                    <tr><td class="vNeg">Very Negative</td><td class="neg">Negative</td><td class="neu">Neutral</td><td class="pos">Positive</td><td class="vPos">Very Positive</td></tr>
                </table>
              </div>
             <apex:variable var="index" value="{!0}"/>
             <apex:pageblocktable value="{!psList}" var="ps">          
                <apex:column headervalue="Sentence">
                    <font color="{!ps.color}" face="arial" size="3">
                        <apex:outputtext value="{!ps.text}"/>
                    </font>
                </apex:column>
                <apex:column headervalue="Sentiment">
                    <font color="{!ps.color}" face="arial" size="3">
                        <apex:outputtext value="{!ps.sentLabel}"/>
                    </font>
                </apex:column>
                <apex:column headervalue="Emotion">
                    <font color="black" face="arial" size="3">
                        <apex:outputtext value="{!ps.topEmoLabel}"/>
                    </font>
                    <!--<a href="#" id="{!index}" onclick="toggleAEmotions(this.id);">Show More</a>
                    <span id="atop3{!index}" style="display:none;">
                    	<font color="black" face="verdana" size="3">
                     		<apex:outputtext value="{!ps.otherEmotions}"/>
                    	</font>  
                    </span>-->
                    <apex:variable var="index" value="{!index+1}"/>
                </apex:column>
             </apex:pageblocktable>        
          </apex:pageBlockSection>
          <apex:pageBlockSection collapsible="true" title="Case Category" columns="2" rendered="{!qaAI.Categorisation_Only__c}">
                AI Category: <apex:outputText value="{!qaAIResult.aiCategory}"/>
                AI SubCategory: <apex:outputText value="{!qaAIResult.aiSubCategory}"/>
		  </apex:pageBlockSection>
          <apex:pageBlockSection collapsible="true" title="General Details" columns="2">
              Agent's Name:<apex:outputText value="{!qaAIResult.empName}"/>
              Case<apex:outputLink value="/{!qaAIResult.pCaseId}">{!qaAIResult.pCaseNo}</apex:outputLink>
              AI Language: <apex:outputText value="{!qaAIResult.lang}"/>
              Source: <apex:outputText value="{!qaAIResult.source}"/>
              AI Quality Score: <apex:outputText value="{!qaAIResult.qaScore}%"/>
              AI Sentiment: <apex:outputText value="{!qaAIResult.sentimentLabel}"/>    
          </apex:pageBlockSection>
        	<apex:pageBlockSection collapsible="true" title="Compliance Details" columns="2">
              <apex:outputField value="{!qaAI.Very_Negative_Sentiment__c}"/>
              <apex:outputField value="{!qaAI.Angry_Emotion__c}"/>
              <apex:outputField value="{!qaAI.Name__c}"/>
              <apex:outputField value="{!qaAI.DOB__c}"/>
              <apex:outputField value="{!qaAI.Address__c}"/>
              <apex:outputField value="{!qaAI.High_Risk_Comms__c}"/>  
              <apex:outputField value="{!qaAI.Low_Risk_Comms__c}"/>
              <apex:outputField value="{!qaAI.To_Investigate_Comms__c}"/>
         </apex:pageBlockSection>
    </apex:pageBlock>
  </apex:form>
  <apex:PageBlock id="relLists" mode="maindetail">
 	<apex:relatedList list="QA_AI_Feedback__r"/>
  </apex:PageBlock>
</apex:page>