<apex:page cache="false" sidebar="false" showheader="false" standardStylesheets="false" docType="html-5.0" >
    <apex:includeLightning />
    <style>
    body{
        margin: 0;
        }
    </style>

    <div id="lightning" />

    <script>
    var surveyId = "{!$CurrentPage.parameters.id}";
    var isLiveChat = "{!$CurrentPage.parameters.livechat}";
    $Lightning.use("in_gage:DemoApp", function() {
        $Lightning.createComponent("in_gage:Survey", {
        	'surveyId': surveyId,
            'isLiveChat': isLiveChat
        },
                                   "lightning",
                                   function(cmp) {}
                                  );
    });
    </script>
</apex:page>